h1 {
    color: white;
    font-size: 100px;
}

h2 {
    color:black;
}

h3{
    color: white;
    font-size: 85px;
}

h4{
    color: black;
    font-size: 30px;
}


h5 {
    color: black;
    font-size: 30px;
}

.p {
    color: black;
}